<div class="background"></div>

<Tabs [page]="2"
      [tabBarActiveTextColor]="'#1890ff'">
  <TabPane
    class="tab"
    title="When?">
    <div class="container-tabs">
      <app-city-selector
        (goToClassTimeSelectorPage)="goTo(TabIndex.timeSelector)"
      ></app-city-selector>
    </div>
  </TabPane>


  <TabPane class="tab"
           title="Vacant Rooms">
    <div class="container-tabs">
      <app-time-selector
        (goToClassCitySelectorPage)="goTo(TabIndex.citySlector)"
        (goToClassRoomSelectorPage)="goTo(TabIndex.roomSelector)"></app-time-selector>
    </div>
  </TabPane>

</Tabs>
